<div class="row font-serif bg-cyan-950 mx-10">
  <div class="col-md-6">
    <h2 class = "flex justify-center text-3xl text-cyan-50">Please login to continue</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="username" class = "text-xl font-semibold mb-2">Username:</label>
        <input class="form-input" type="text" id='username-login' />
      </div>
      <div class="form-group">
        <label for="password-login" class = "text-xl font-semibold mb-2">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class = "btn btn-primary bg-cyan-100 py-3 px-3 ml-1 " type="submit" id="login-form">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">


    
  </div>
</div>

<script src="./js/logout.js"></script>
```
