

    <div class="row font-serif bg-cyan-950 mx-10">
        <div class="col-md-6">
          <h2 class = "flex justify-center text-3xl text-cyan-50">Post</h2>
      
          <form class="form post-form">
            <div class="form-group">
              <label for="title" class = "text-xl font-semibold mb-2">Post Title</label>
              <input class="form-input" type="text" id='post-title' />
            </div>
            <div class="form-group">
              <label for="content" class = "text-xl font-semibold mb-2">Post Content</label>
              <input class="form-input" type="text" id="post-content" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary bg-cyan-100 py-3 px-3 ml-1" type="submit" id="post-button">POST</button> 
            </div>
          </form>
        </div>
        <div class="col-md-6">
      
      
          
        </div>
      </div>
      
      
      <script src="./js/post.js"></script>
      <script src="./js/logout.js"></script>



